@import url('./design-system/classes/utility.css');
@import url('./design-system/classes/margin.css');

.auto-parts-page .cards-grid.hidden {
    display: none;
}
  
.auto-parts-page .cars-selectors-container{
  display: flex;
  justify-content: center;
  align-items: center;
}