.price-individual-card {
  font-size: 32px;
  text-align: center;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-buttons {
  width: 120px;
  height: 50px;
  background-color: rgba(33, 173, 87, 0.623);
  border-radius: 8px;
  border: none;
}

.card-buttons:hover {
  background-color: rgba(187, 223, 31, 0.829);
}

.details-and-buy-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
