:root {
    --font-body: "Montserrat",Arial, Helvetica, sans-serif;
    --font-size-footer: 0.8125rem;
    --font-size-h1: 2.25rem;
    --font-size-h1-l-h: 2.5rem; 
    --font-size-h2: 1.75rem;
    --font-size-h2-l-h:1.875rem;
    --font-size-h3:1.5rem;
    --font-size-h3-l-h:1.875rem;
    --font-size-h4:1.375rem;
    --font-size-h4-l-h:1.625rem;
    --font-size-h5:1.125rem;
    --font-size-h5-l-h:1.375rem;
    --font-size-h6:1rem;
    --font-size-h6-l-h:1.25rem;
    
    --font-size-price:2rem;
   
  }
  