.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
  
    overflow: hidden;
    gap: 1.25rem;
    box-shadow: 0 0 0.625rem 0 var(--color-shadow);
    padding: 0.625rem;
    background: #fff;
  }
  
  .card > header {
    display: flex;
    width: 100%;
    height: 12.5rem;
  }
  
  .card > header > .card-image {
    width: 100%;
    height: 12.5rem;
  }
  
  .card-main-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .card-main-content > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }