
.layout-header {
    background-color: var(--layout-header);
  }
  
  .layout-header h1,
  .layout-header h2 {
    margin: var(--size-md) var(--size-sm); 
  }
  
  header > h1,
  header > h2 {
    color: white;
  }
  
  