@keyframes animation-for-main-title {
    0%{
      transform: translateX(-1000px);
    }
  
    100%{
      transform: translate(0px);
    }
  
  }
  
  @keyframes animation-for-navbar {
    0%{
      transform: translateY(-1000px);
    }
  
    100%{
      transform: translateY(0px);
    }
  }

  .animation-for-header-title{
    animation: animation-for-main-title 0.8s ease-in 0.2s 1;
  }
  
  .animation-for-navbar{
    animation: animation-for-navbar 0.8s ease-in-out 0.2s 1;;
  }
  
  