.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    place-items: center;
  }



  @media screen and (min-width: 800px) {
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }
  }
  
  @media screen and (min-width: 1200px) {
      .cards-grid {
        place-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
      }
    }
  
  
  
  