
.margin-reset{
    margin: 0;
}

.gap-dropdowns{
    gap: 0.5rem;
}

.margin-right{
    margin-right: 1.5rem;
}

.price-individual-card {
    font-size: var(--font-size-price);
    text-align: center;
  }
  
.s-gap{
    gap: 0.5rem;
}

.m-gap{
    gap: 1rem;
}

  h1,
  h2,
  h3 {
    margin: 0.625rem 0;
  }
  
  
  h4,
  h5 {
    margin: 0.5rem 0;
  }
  
  .simple-margin{
    margin: 0.625rem;
  }